@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --bluelight: #079ee3;
    --blue: #046cac;
    --white: #fff;
    --white2: #eff2f7;
    --black: #333;
    --grey: #666;
    --greylight: #7e7e7e;
    --green:#A1C740;
    --webkit-clip-path: polygon(50% 0%, 0% 50%, 50% 100%, 100% 50%);
}

html::-webkit-scrollbar {
    width: 1.2rem;
}

html::-webkit-scrollbar-track {
    background: var(--grey);
}

html::-webkit-scrollbar-thumb {
    background: var(--bluelight)
}

* {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    transition: all .2s linear;
}

*::selection {
    background-color: var(--bluelight);
    color: var(--white);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

.heading {
    margin: 2rem;
    text-align: center;
    font-size: 4rem;
    color: var(--grey);
    padding-top: 1rem;
}

.heading span {
    color: var(--bluelight);
}

.subheading {
    margin: 2rem;
    text-align: center;
    font-size: 3.5rem;
    color: var(--grey);
    padding-top: 2rem;
}

.subheading span {
    color: var(--bluelight);
}

.btn {
    background: none;
    border: .2rem solid var(--bluelight);
    border-radius: 1rem;
    width: 15rem;
    height: 4rem;
    margin: 1rem 0;
    cursor: pointer;
    color: var(--bluelight);
    font-size: 2rem;
}

.btn:hover {
    background: var(--bluelight);
    color: var(--white);
}

/*Header style*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    z-index: 1000;
    width: 100%;
    padding: 1rem 3rem;
}

header .logo img {
    width: 12rem;
    height: 5rem;
}

header .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

header .navbar ul li a {
    font-size: 1.8rem;
    color: var(--grey);
    padding: 2.7rem 2rem;
}

header .navbar ul li a span {
    color: var(--bluelight);
}

header .navbar ul li a:hover span {
    color: var(--white);
}

header .navbar ul li a:hover {
    background: var(--bluelight);
    color: var(--white);
}

header .fa-bars {
    font-size: 2rem;
    color: var(--grey);
    cursor: pointer;
    display: none;
}

/*Home section style*/
.home .slider {
    position: relative;
    width: 100%;
    height: 85vh;
}

.home .slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.home .slider .slide.active {
    opacity: 1;
    pointer-events: auto;
}

.home .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.home .slide-content {
    position: absolute;
    bottom: 30rem;
    left: 50%;
    transform: translateX(-70%);
    text-align: left;
    color: var(--bluelight);
    transition: bottom 0.8s ease-in-out;
}

.slide-content.animate-up {
    bottom: 20rem;
}

.slide-content h1 {
    font-size: 10rem;
    margin-bottom: 1rem;
}

.slide-content p {
    font-size: 3rem;
    color: var(--white);
}

.prev,
.next {
    position: absolute;
    bottom: .0rem;
    background: var(--bluelight);
    padding: 1rem 3rem;
    color: var(--white);
    cursor: pointer;
}

.prev:hover,
.next:hover {
    background: var(--blue);
    color: var(--white);
    cursor: pointer;
}

.prev {
    left: .0rem;
    font-size: 5rem;
}

.next {
    right: .0rem;
    font-size: 5rem;
}

/*About section style*/
.about .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5rem 4rem;
    position: relative;
    overflow: hidden;
}

.about .row:before {
    content: '';
    position: absolute;
    top: 1rem;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: var(--bluelight);
    z-index: 1;
    transform: skewX(-20deg);
}

.about .row .image {
    flex: 1 1 40rem;
    padding: 0 5rem;
    position: relative;
    z-index: 2;
}

.about .row .content {
    flex: 1 1 40rem;
    padding: 0 5rem;
}

.about .row .content {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.about .row .content.animate {
    opacity: 1;
    transform: translateY(0);
}

.about .row .image img {
    height: 45rem;
    width: 55rem;
    object-fit: cover;
}

.about .row .content img {
    height: 10rem;
    width: 25rem;
}

.about .row .content p {
    font-size: 1.8rem;
    color: var(--grey);
    padding: 1rem .2rem;
    text-align: justify;
}

.about .row .btn {
    background: none;
    border: .2rem solid var(--bluelight);
    border-radius: 1rem;
    width: 15rem;
    height: 4rem;
    margin: 1rem 0;
    cursor: pointer;
    color: var(--bluelight);
    font-size: 2rem;
}

.about .row .btn:hover {
    background: var(--bluelight);
    color: var(--white);
}


.banner {
    height: 60rem;
    position: relative;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.banner .content {
    position: absolute;
    top: 30%;
    margin-left: 5%;
    opacity: 0;
    transform: translateY(2rem);
    transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
}

.banner .content.show {
    opacity: 1;
    transform: translateY(0);
}

.banner .content h1 {
    font-size: 12rem;
    color: var(--bluelight);
}

.banner .content h2 {
    font-size: 5rem;
    color: var(--white);
}

.banner .content p {
    font-size: 3rem;
    color: var(--white);
}


.presentation .row {
    margin: 5rem 20rem;
    opacity: 0;
    transform: translateY(2rem);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.presentation .row.show {
    opacity: 1;
    transform: translateY(0);
}

.presentation .row .content p {
    font-size: 2rem;
    padding: 1rem;
    color: var(--grey);
    text-align: justify;
}

.ambition {
    background: var(--greylight);
    margin-bottom: -3rem;
}

.ambition .subheading {
    color: var(--white);
}

.ambition .row {
    display: flex;
    flex-direction: column;
    margin: 3rem;
}

.ambition .row .content {
    flex: 1;
}

.ambition .row .content h1 {
    font-size: 2rem;
    color: var(--white);
    text-align: center;
    margin-bottom: 3rem;
}

.ambition .row .content p {
    font-size: 2rem;
    color: var(--white);
    text-align: justify;
}

.ambition .row .images {
    display: flex;
    gap: 1rem;
    margin: 2rem;
    flex: 2;
    opacity: 0;
    transform: translateY(2rem);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.ambition .row .images.show {
    opacity: 1;
    transform: translateY(0);
}


.ambition .row .images .image {
    width: 15rem;
    height: 15rem;
}

.ambition .row .images .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.values {
    margin-top: 2rem;
}

.values .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    opacity: 0;
    transform: translateY(-2rem);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.values .box-container.show {
    opacity: 1;
    transform: translateY(0);
}

.values .box-container .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    width: 15rem;
    border: .2rem var(--blue) solid;
}

.values .box-container .box:hover {
    cursor: pointer;
}

.values .box-container .box i {
    padding: 2rem 0;
    font-size: 10rem;
    color: var(--grey);
}

.values .box-container .box:hover i {
    color: var(--greylight);
}

.values .box-container .box .value {
    width: 100%;
    height: 5rem;
    background: var(--blue);
}

.values .box-container .box .value p {
    font-size: 2rem;
    color: var(--white);
    text-align: center;
    padding: 1rem;
}

.values .box-container .box:first-of-type .value p {
    padding: 0rem;
}

.values .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

.values .text p {
    margin: .5rem;
    font-size: 2.2rem;
}

.values .text li {
    font-size: 1.8rem;
    padding: 1rem;
}

.management {
    background: var(--white2);
}

.management h2 {
    text-align: justify;
    margin: 3rem 5rem;
    font-weight: 400;
    font-size: 2rem;
}

.management .area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 10rem;
    padding-bottom: 2rem;
}

.management .area .image {
    width: 20rem;
    height: 20rem;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.management .area .image.show {
    opacity: 1;
    transform: translateX(0);
}

.management .area .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.management .area p {
    flex: 2 40rem;
    font-size: 2rem;
    margin: 0 5rem;
    text-align: justify;
}

/*Services section style*/
.services{
    position: relative;
}

.services .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5rem;
    padding-bottom: 3rem;
    gap: 5rem;
}

.services .box-container .box {
    height: 25rem;
    width: 30rem;
    cursor: pointer;
    background: var(--grey);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.services .box-container .box.show {
    opacity: 1;
    transform: translateY(0);
}

.services .box-container .box i {
    font-size: 8rem;
    color: var(--white);
}

.services .box-container .box p {
    font-size: 3rem;
    color: var(--white);
    text-align: center;
}

.services .box-container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: .2rem solid var(--grey);
}

.services .box-container .box:hover {
    background: var(--blue);
    transition: all .2s linear;
}

.services .box-container .box img:hover {
    transform: scale(1.03);
}

.services .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.popup-image{
    position: fixed;
    top: 0; left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 1000;
    display:none;
}

.popup-image span{
    top: 3rem; right: 3rem;
    position: absolute;
    font-size: 4rem;
    font-weight: bolder;
    color: var(--white);
    cursor: pointer;
    z-index: 1000;
}

.popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    border: .5rem solid var(--white);
    border-radius: .5rem;
    width: 75rem;
    object-fit: cover;
}

.servicepage .text-area {
    margin: 3rem 5rem;
}

.servicepage .text-area p {
    font-size: 2rem;
    color: var(--grey);
    text-align: justify;
}

.servicepage .row {
    margin: 3rem 3rem;
}

.servicepage .row .content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.servicepage .row .content .text-content h2 {
    font-size: 2.5rem;
    color: var(--blue);
}

.servicepage .row .content .text-content {
    margin: 0 5rem;
}

.servicepage .row .content p {
    font-size: 2rem;
    color: var(--grey);
    width: 40rem;
    text-align: justify;
}

.servicepage .row .content .image {
    width: 45rem;
    height: 25rem;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);

}

.servicepage .row .content .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    border: .5rem solid var(--bluelight);
}

.servicepage .row .content .image:hover img {
    cursor: pointer;
    transform: scale(1.03);
}

.servicepage .row .content .image {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    transform: translateX(-10%);
}

.servicepage .row .content:nth-child(odd) .image {
    transform-origin: left center;
}

.servicepage .row .content:nth-child(even) .image {
    transform-origin: right center;
}

.servicepage .row .content.show .image {
    opacity: 1;
    transform: translateX(0%);
}


/*Projects section style*/
.projects {
    background: var(--white2);
    padding: .5rem 0;
}

.projects .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.projects .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 5rem;
    gap: 1rem;
}

.projects .box-container .box {
    width: 35rem;
    height: 30rem;
    margin: 2rem auto;
    position: relative;
    cursor: pointer;
}

.projects .box-container .box:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
}

.projects .box-container .box .image {
    background: var(--bluelight);
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
}

.projects .box-container .box .image img {
    background: var(--bluelight);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects .box-container .box .content {
    display: flex;
    width: 100%;
    top: 80%;
    position: absolute;
}

.projects .box-container .box .content .text {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bluelight);
    height: 8rem;
    padding: 1rem;
}

.projects .box-container .box .content .text p {
    font-size: 1.5rem;
    color: var(--white);
}

.projects .box-container .box .content .link {
    flex: 1;
    background: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects .box-container .box .content .link:hover {
    background: var(--blue);
    cursor: pointer;
}

.projects .box-container .box .content .link i {
    color: var(--white);
    font-size: 2rem;
}

/*Projectspage style*/
.achievements p{
    color: var(--grey);
    font-size: 2rem;
    text-align: justify;
    margin: 3rem 5rem;
}

.achievements .row{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 4rem 1rem;
}

.achievements .row .box{
    width: 45rem;
    height: 40rem;
    overflow: hidden;
    position: relative;
}

.achievements .row .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.achievements .row .box .content{
    position: absolute;
    left: 0; bottom: -100%;
    padding-top: 20rem;
    width: 100%;
    height: 100%;
    text-align: center;
    background:rgba(0,0,0,.7);
    transition: all .2s linear;
}

.achievements .row .box:hover .content{
    cursor: pointer;
    bottom: 0;
    transition: all .2s linear;
}

.achievements .row .box .content h3{
    color: var(--white);
    font-size: 3rem;
}

.achievements .row .box .content p{
    color: var(--white);
    font-size: 2rem;
    text-align: center;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    display: none;
}

.modal-content {
    background-color: var(--white);
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    border: .1rem solid var(--grey);
    width: 100rem;
}

.modal-content .slides {
    display: flex;
    overflow-x: auto;
    margin: 2rem;
}

.modal-content .slides img {
    width: 80%;
    height: 45rem;
    object-fit: cover;
    padding: 1rem;
}

.close {
    position: absolute;
    color: var(--white);
    top: 8rem; right: 5rem;
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
}

/*HSEpage section style*/
.navbar .green{
    color: var(--green);
}

.hse .green{
    color: var(--green);
}

.hse .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 5rem;
}

.hse .row .image {
    flex: 1 1 40rem;
    padding: 0 1rem;
}

.hse .row .image img {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    object-fit: cover;
}

.hse .row .content {
    flex: 1 1 40rem;
    padding: 0 1rem;
}

.hse .row .content p {
    font-size: 2rem;
    color: var(--grey);
    text-align: justify;
}

.hse h2{
    font-size: 3rem;
    color: var(--grey);
    text-align: center;
}

.hse h2 span{
    color: var(--green);
}

.hse .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    margin: 3rem;
    gap: 2rem;
}

.hse .box-container .box{
    width: 35rem;
    background: var(--white2);
    padding: 2rem 0;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hse .box-container .box:hover{
   cursor: pointer;
   box-shadow: 0 .3rem .5rem rgba(0,0,0,.8);
}

.hse .box-container .box h3{
    font-size: 2rem;
    color: var(--grey);
    padding: 1.5rem;
    text-align: center;
    height: 8rem;
}

.hse .box-container .box .img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: .5rem solid var(--green);
    width: 15rem;
    height: 15rem;
}
.hse .box-container .box .img i{
    font-size: 8rem;
    text-align: center;
    color: var(--green);
}

.hse .box-container .box ul{
    list-style-type: none;
}

.hse .box-container .box ul i{
    color: var(--green);
    padding: 0 1rem;
}

.hse .box-container .box ul li{
    font-size: 1.5rem;
    margin: 1rem 1rem;
    height: 6rem;
}

.commitment .green{
    color: var(--green);
}

.commitment h2{
    font-size: 2rem;
    margin: 3rem;
    text-align: justify;
    color: var(--grey);
}

.commitment p{
    font-size: 1.8rem;
    text-align: center;
    color: var(--grey);
    margin: 2rem 0;
}

.commitment .container .content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 10rem;
}

.commitment .container .content:nth-child(2){
    flex-direction:  row-reverse;
}

.commitment .container .content .image img{
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 100%;
    border: .5rem solid var(--green);
    margin: 0 2rem;
}

.commitment .container .content ul{
    margin-left: 3rem;
}

.commitment .container .content ul li{
    font-size: 1.8rem;
    padding: 1rem 0;
    text-align: justify;
}

.goals {
    background: var(--white2);
    padding: 0 3rem;
}

.goals p {
    font-size: 2rem;
    margin: 1rem 0;
    text-align: justify;
}

.goals .row {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.goals .row .image {
    width: 40rem;
    height: 25rem;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
}

.goals .row .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    border: .5rem solid var(--bluelight);
}

.goals .row .image:hover img {
    cursor: pointer;
    transform: scale(1.03);
}

.goals .content {
    display: flex;
    gap: 2rem;
}

.goals .content ul {
    padding: 1rem 0;
    padding-left: 3rem;
    list-style-type: circle;
}

.goals .content ul li {
    font-size: 1.6rem;
    padding: 1rem;
}

.politics {
    background: var(--greylight);
    margin-top: -2rem;
    padding: 0 5rem;
}

.politics .subheading {
    color: var(--white);
}

.politics p {
    color: var(--white);
    font-size: 2rem;
    margin: 1rem 0;
    text-align: justify;
}

.politics .container {
    padding: 0 2rem;
}

.politics .container .content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.politics .container .content:nth-child(2){
    flex-direction: row-reverse;
}

.politics .container .content .image {
    width: 50rem;
    height: 30rem;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
}

.politics .container .content .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    border: .5rem solid var(--bluelight);
}

.politics .container .content .image:hover img {
    cursor: pointer;
    transform: scale(1.03);
}

.politics .container .content ul {
    width: 65rem;
    padding-left: 15rem;
}

.politics .container .content:nth-child(2) ul {
    width: 65rem;
    padding-right: 15rem;
    padding-left: 0;
}

.politics .container .content ul li {
    font-size: 2rem;
    color: var(--white);
    text-align: justify;
    padding-top: .5rem;
}


/*Consumer section style*/
.consumer .consumer-container {
    padding: 2rem 10rem;
}

.consumer .consumer-container .consumer-box {
    width: 15rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.consumer .consumer-container .consumer-box:hover {
    border-bottom: .2rem solid var(--bluelight);
    cursor: pointer;
    transition: none;
}

.consumer .consumer-container .consumer-box .image {
    width: 15rem;
    height: 12rem;
}

.consumer .consumer-container .consumer-box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.consumer .consumer-container .consumer-box p {
    font-size: 1.5rem;
    color: var(--grey);
    padding: .5rem 0;
    text-align: center;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin: 5rem;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 8rem;
}

.stats .stat-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
}

.stats .stat-box i {
    font-size: 8rem;
    color: var(--bluelight);
}

.stats .stat-box .counter {
    color: #333;
    font-weight: bold;
    font-size: 5rem;
}

.stats .stat-box p {
    font-size: 3rem;
    color: var(--grey);
}

.stat-box:first-child p {
    font-size: 2.3rem;
}

/*Contact style*/
.contact {
    background: var(--grey);
}

.contact .heading {
    color: var(--white);
}

.contact .subheading {
    margin: 2rem;
    text-align: center;
    font-size: 3.5rem;
    color: var(--white);
    padding-top: 8rem;
}

.contact .subheading span {
    color: var(--bluelight);
}

.contact form {
    width: 80%;
    margin: 0 auto;
}

.contact .button {
    display: flex;
    justify-content: center;
}

.contact .form-container form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.contact form .inputBox input,
textarea {
    height: 4rem;
    width: 49%;
    background: #111;
    color: var(--white);
    padding: 0 1rem;
    margin: 1rem 0;
    font-size: 2rem;
    border: none;
}

.contact form .inputBox input:focus,
textarea:focus {
    background: #222;
}

.contact form textarea {
    height: 30rem;
    resize: none;
    padding: 1rem;
    width: 100%;
}


.contact .row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem;
    flex-wrap: wrap;
}

.contact .row .contact-info {
    flex: 1 1 40rem;
    padding: 5rem;
}

.contact .row .map {
    flex: 1 1 40rem;
    padding: 5rem;
}

.contact .row .contact-info h2 {
    font-size: 5rem;
    color: var(--bluelight);
}

.contact .row .contact-info p {
    font-size: 2rem;
    color: var(--white);
    padding: 1rem 2rem;
}

.contact .row .map {
    width: 45rem;
    height: 45rem;
}

.contact .row .map iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    background: var(--blue);

}

.footer .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 12rem 0;
}

.footer .box-container .box {
    width: 20rem;
    margin: 0 4rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--white);
    margin-bottom: 2rem;
}

.footer .box-container .box .text {
    font-size: 1.8rem;
    color: var(--white);

}

.footer .box-container .box a {
    display: block;
    padding: .7rem 0;
    font-size: 1.8rem;
    color: white;
}

.footer .box-container .box a:hover {
    color: #9fb7c3;
}

.footer .box-container .box p {
    font-size: 1.8rem;
    color: var(--white);
    padding: .7rem 0;
}

.footer .credit {
    text-align: center;
    border-top: .1rem solid white;
    font-size: 2rem;
    color: var(--white);
    padding: .5rem;
    padding-top: .1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span {
    color: #9fb7c3;
}

.footer .credit a {
    color: #9fb7c3;
}



/*media quieries*/
@media (max-width:1150px) {
    header .navbar ul li a {
        font-size: 1.55rem;
        color: var(--grey);
        padding: 2.8rem 1.7rem;
    }

    .about .row {
        padding: 5rem 2rem;
    }

    .about .row:before {
        top: 6.5rem;
        left: -2.5rem;
        width: 30%;
    }

    .about .row .image {
        flex: 1 1 30rem;
        padding: 5rem;
    }

    .about .row .content {
        flex: 1 1 30rem;
        padding: 5rem;
    }

    .about .row .image img {
        height: 35rem;
        width: 45rem;
    }

    .about .row .content img {
        height: 8rem;
        width: 20rem;
    }

    .about .row .content p {
        font-size: 1.7rem;
        color: var(--grey);
        padding: 2rem .2rem;
    }

    .about .row .btn {
        width: 15rem;
        height: 4rem;
        margin: 1rem 0;
        cursor: pointer;
        color: var(--bluelight);
        font-size: 1.8rem;
    }

    .services .box-container {
        padding: 0 1.8rem;
    }

    .footer .box-container .box {
        margin: 0 2rem;
    }

    .values .box-container {
        flex-wrap: wrap;
    }

    .values .box-container {
        margin: 3rem 15rem;
    }

    .values .box-container .box {
        margin: 3rem;
    }

    .servicepage .row .content .text-content {
        margin: 0 3rem;
    }

    .servicepage .row .content p {
        width: 35rem;
    }

    .servicepage .row .content .image {
        width: 40rem;
        height: 20rem;
    }

    .servicepage .row .content .image2 {
        width: 25rem;
        height: 25rem;
    }

    .hse .row .content p {
        font-size: 1.8rem;
    }

    .politics .container .content ul li{
       font-size: 1.8rem;
    }

    .hse .box-container {
        flex-wrap: wrap;
    }
}

@media (max-width:990px) {

    header .navbar ul li a {
        font-size: 1.45rem;
        padding: 2.9rem 1rem;
    }

    .about .row {
        padding: 5rem 1rem;
    }

    .about .row:before {
        top: 6.5rem;
        left: -2.5rem;
        width: 30%;
    }

    .about .row .image img {
        height: 33rem;
        width: 43rem;
    }

    .about .row .content img {
        height: 7rem;
        width: 18rem;
    }

    .about .row .content p {
        font-size: 1.5rem;
        color: var(--grey);
        padding: 2rem .2rem;
    }

    .about .row .btn {
        width: 15rem;
        height: 3.5rem;
        margin: 1rem 0;
        cursor: pointer;
        color: var(--bluelight);
        font-size: 1.8rem;
    }

    .presentation .row {
        margin: 5rem 10rem;
    }

    .management h2 {
        font-size: 1.8rem;
    }

    .management .area .image {
        width: 20rem;
        height: 20rem;
    }

    .management .area p {
        font-size: 1.8rem;
        margin: 0 2rem;
    }

    .footer .box-container {
        padding: 3rem 5rem;
    }

    .footer .box-container .box {
        margin: 2rem 7rem;
    }

    .values .box-container {
        margin: 3rem 10rem;
    }

    .servicepage .row .content .text-content {
        margin: 0 3rem;
    }

    .servicepage .row .content p {
        width: 35rem;
    }

    .servicepage .row .content .image {
        width: 40rem;
        height: 20rem;
    }

    .servicepage .row .content .image2 {
        width: 25rem;
        height: 25rem;
    }

    .hse .row .content p {
        font-size: 1.6rem;
    }

    .politics .container .content {
        flex-wrap: wrap;
    }

    .politics .container .content ul {
        width: 65rem;
        padding-left: 0rem;
        padding-top: 2rem;
    }
}

@media (max-width:870px) {
    html {
        font-size: 55%;
    }

    header .fa-bars {
        display: block;
    }

    .fa-times {
        transform: rotate(180deg);
    }

    header {
        padding: .5rem 3rem;
    }

    header .navbar {
        position: fixed;
        top: -100rem;
        left: 0;
        width: 100%;
        border-top: .1rem solid var(--bluelight);
        opacity: 0;
    }

    header .navbar ul {
        flex-flow: column;
        padding: 0rem 0;
        background-color: var(--white);
        box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    }

    header .navbar ul li {
        width: 100%;
        text-align: left;
    }

    header .navbar ul li a {
        font-size: 1.8rem;
        padding: 1.5rem 3rem;
        border-bottom: .1rem solid var(--grey);
        display: block;
    }

    header .nav-toggle {
        top: 6.1rem;
        opacity: 1;
    }

    .about .row {
        padding: 7rem 2rem;
    }

    .about .row .image {
        flex: 1 1 50rem;
        padding: 5rem;
        display: flex;
        justify-content: center;
    }

    .about .row .image {
        flex: 1 1 50rem;
        padding: 5rem;
    }

    .about .row .content {
        flex: 1 1 50rem;
        padding: 5rem;
    }

    .about .row:before {
        top: 7rem;
        left: 0rem;
        width: 30%;
        height: 50%;
    }

    .about .row .image img {
        height: 40rem;
        width: 50rem;

    }

    .about .row .content img {
        height: 8rem;
        width: 18rem;
    }

    .about .row .content p {
        font-size: 2rem;
        color: var(--grey);
        padding: 2rem .2rem;
    }

    .about .row .btn {
        width: 15rem;
        height: 4rem;
        margin: 1rem 0;
        cursor: pointer;
        color: var(--bluelight);
        font-size: 1.8rem;
    }

    .management .area {
        margin: 2rem 5rem;
    }

    .services {
        margin-top: -10rem;
    }

    .servicepage .row .content .image2 {
        display: none;
    }

    .footer .box-container {
        padding: 3rem 1rem;
    }

    .footer .box-container .box {
        margin: 2rem 6rem;
    }

    .values .box-container {
        margin: 3rem 8rem;
    }

    .values .box-container .box {
        margin: 3rem;
    }

    .contact form .inputBox input,
    textarea {
        width: 100%;
    }

    .hse .row {
        flex-wrap: wrap;
    }

    .hse .row .image {
        flex: 1 1 60rem;
    }

    .hse .row .content {
        flex: 1 1 60rem;
    }

    .hse .row .content p {
        font-size: 2rem;
    }

    .goals .row .image {
        width: 30rem;
        height: 20rem;
    }

    .commitment .container .content{
        flex-wrap: wrap;
    }
    
    .commitment .container .content:nth-child(2){
        flex-direction:  row-reverse;
    }

    .modal-content {
        width: 70rem;
    }
}

@media (max-width:705px) {

    .presentation .row {
        margin: 5rem 5rem;
    }

    .values .box-container {
        margin: 3rem 5rem;
    }

    .values .box-container .box {
        margin: 2rem;
    }

    .management .area {
        margin: 2rem 2rem;
    }

    .goals .row {
        flex-wrap: wrap;
    }

    .goals .row .image {
        width: 40rem;
        height: 25rem;
    }

    .goals .content {
        flex-wrap: wrap;
    }

    .goals .content ul {
        padding: 0;
    }
}

@media (max-width:600px) {

    html {
        font-size: 50%;
    }

    .banner .content h1 {
        font-size: 10rem;
    }

    .banner .content h2 {
        font-size: 4rem;
    }

    .banner .content p {
        font-size: 2rem;
    }

    .management .area {
        flex-wrap: wrap;
    }


    .footer .box-container {
        padding: 2rem 0;
    }

    .footer .box-container {
        padding: 3rem 0;
    }

    .footer .box-container .box {
        margin: 2rem 2.8rem;
    }

    .values .box-container {
        margin: 3rem 1rem;
    }

    .servicepage .row .content {
        flex-wrap: wrap;
        margin: 3rem 0;
    }

    .servicepage .row .content:nth-child(2) {
        flex-wrap: wrap-reverse;
    }

    .servicepage .row .content:nth-child(4) {
        flex-wrap: wrap-reverse;
    }

    .servicepage .row .content:nth-child(6) {
        flex-wrap: wrap-reverse;
    }

    .modal-content {
        width: 50rem;
    }
}

@media (max-width:420px) {
    html {
        font-size: 40%;
    }

    .presentation .row {
        margin: 5rem 5rem;
        opacity: 1;
        transform: translateY(0rem);
    }

    .consumer .consumer-container {
        padding: 2rem 5rem;
    }
}

@media (max-width:335px) {

    .footer .box-container {
        justify-content: start;
    }
}

@media (max-width:250px) {

    .presentation .row {
        margin: 5rem 2rem;
    }

    .consumer .consumer-container {
        padding: 2rem 1rem;
    }
}